.text-roboto{
    font-family: 'Roboto', sans-serif;
}

.text-notosans{
    font-family: 'Noto Sans TC', sans-serif;
}

h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #650300;
    text-align: center;
}

.header{
    background-color: #AA0601;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.header img{
    max-width: 80px;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 492px;
}

.menu a{
    color: white;
    text-decoration:none;
    font-size: 20px;
    line-height: 30px;
}

.banner{
    background-image: url('../images/home-header.png');
    background-size: cover;
    height: 787px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 312px;
}

.banner h1{
    color: #650300;
    font-size: 64px;
    line-height: 96px;
    font-weight: bold;
}

.banner h2{
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
}

.banner input[type=button]{
    color: white;
    background-color: #AA0601;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    padding: 6px 12px;
    border: none;
    margin-top: 10px;
}

.slogan{
    padding: 80px 312px;
    background-color: #FBF2F2;
}

.slogan h2{
    margin-bottom: 24px;
}

.slogan img{
    max-width: 100px;
    margin-bottom: 16px;
}

.slogan h3{
    margin-bottom: 8px;
}

.slogan p{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.values{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.values li{
    width: 306px;
}

.classic{
    padding: 80px 312px;
}

.classic h2{
    margin-bottom: 48px;
}

.classic img{
    max-width: 416px;
    margin-bottom: 8px;
}

.classic h3{
    color: #AA0601;
    font-size: 48px;
    line-height: 72px;
}

.classic-products{
    display: flex;
    justify-content: space-around;
}

.joint{
    background-image: url('../images/index-bg.png');
    background-size: cover;
    padding: 80px 312px;
}

.joint h2{
    color: white;
    margin-bottom: 48px;
}

.joint img{
    max-width: 648px;
}

.joint-products{
    display: flex;
}

.joint-products li{
    display: flex;
    flex-direction: column;
}

.joint-products h3{
    color: #AA0601;
    font-size: 48px;
    line-height: 72px;
    background-color: white;
}

.recommend{
    padding: 80px 312px;
}

.recommend h2{
    margin-bottom: 48px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.cards img{
    max-width: 306px;
}

.cards-content{
    max-width: 306px;
    border: 1px solid #DEE2E6;
    padding: 16px;
}

.cards-content h3{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
}

.cards-content p{
    font-size: 16px;
    line-height: 24px;
    height: 120px;
}
.cards-content span{
    color: #707070;
    font-size: 14px;
    line-height: 21px;
}