.text-roboto{
    font-family: 'Roboto', sans-serif;
}

.text-notosans{
    font-family: 'Noto Sans TC', sans-serif;
}

h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #650300;
    text-align: center;
}

.header{
    background-color: #AA0601;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.header img{
    max-width: 80px;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 492px;
}

.menu a{
    color: white;
    text-decoration:none;
    font-size: 20px;
    line-height: 30px;
}

.banner{
    background-image: url('../images/home-header.png');
    background-size: cover;
    height: 787px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 312px;
}

.banner h1{
    color: #650300;
    font-size: 64px;
    line-height: 96px;
    font-weight: bold;
    margin-bottom: 4px;
}

.banner h2{
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
}

.banner input[type=button]{
    color: white;
    background-color: #AA0601;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    padding: 6px 12px;
    border: none;
}

.slogan{
    padding: 80px 312px;
    background-color: #FBF2F2;
}

.slogan img{
    max-width: 100px;
    margin-bottom: 16px;
}

.slogan h3{
    margin-bottom: 8px;
}

.slogan p{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.values{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.values li{
    width: 306px;
    margin-top: 24px;
}

.classic{
    padding: 80px 312px;
}

.classic img{
    max-width: 416px;
    margin-top: 48px;
    margin-bottom: 8px;
}

.classic h3{
    color: #AA0601;
    font-size: 48px;
    line-height: 72px;
    font-weight: 900;
    font-style: italic;
}

.classic-products{
    display: flex;
    justify-content: space-around;
}

.joint{
    background-image: url('../images/index-bg.png');
    background-size: cover;
    padding: 80px 312px;
}

.joint h2{
    color: white;
}

.joint img{
    max-width: 648px;
    margin-top: 48px;
}

.joint-products{
    display: flex;
}

.joint-products li{
    display: flex;
    flex-direction: column;
}

.joint-products h3{
    color: #AA0601;
    font-size: 48px;
    line-height: 72px;
    background-color: white;
    font-weight: 900;
    font-style: italic;
}

.recommend{
    padding: 80px 312px;
}

.recommend h2{
    margin-bottom: 48px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.cards img{
    max-width: 306px;
}

.cards-content{
    max-width: 306px;
    border: 1px solid #DEE2E6;
    padding: 16px;
    box-shadow: 0px 2px 6px #00000029;
}

.cards-content h3{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
}

.cards-content p{
    font-size: 16px;
    line-height: 24px;
    height: 120px;
}

.cards-content span{
    color: #707070;
    font-size: 14px;
    line-height: 21px;
}

.contact{
    padding: 80px 642px;
    background-color: #FBF2F2;
}

.contact h2{
    margin-bottom: 48px;
}

.contact h3{
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
}

.form p{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
}

.form input[type=text]{
    margin-bottom: 16px;
    width: 636px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF2F2;
    border: 1px solid;
}

.form input[type=checkbox]{
    width: 24px;
    height: 24px;
    margin-bottom: 48px;
}

.form input[type=button]{
    background-color: #AA0601;
    max-width: 416px;
    height: 56px;
    padding: 16px 176px;
    border: 0px;
    color: white;
}

.form textarea{
    margin-bottom: 16px;
    width: 636px;
    height: 136px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF2F2;
    border: 1px solid;
}

.btn{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: #AA0601;
    padding: 48px 312px 32px 312px;
    color: white;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links ul{
    display: flex;
    justify-content: space-between;
}

.links li{
    font-size: 16px;
    line-height: 24px;
}

.pages{
    width: 464px;
}

.social-media{
    width: 208px;
}

.social-media img{
    width: 48px;
}

.contact-way{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-way img{
    padding: 6px;
    margin-right: 16px;
}

.contact-way h2{
    color: white;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.copyright{
    margin-top: 24px;;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding-top: 32px ;
}

.copyright h3{
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.copyright ul{
    display: flex;
    justify-content: space-between;
    width: 174px;
    font-size: 14px;
    line-height: 21px;
}

@media (max-width: 767px) {
    h2{
        font-size: 24px;
        line-height: 36px;
    }

    .banner{
        background-image: url('../images/home-header-sm.png');
        padding-right: 14px;
        height: 396px;
    }

    .banner h2{
        font-size: 16px;
        line-height: 24px;
    }

    .banner h1{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
    }
    
    .slogan{
        padding: 40px 0px;
    }
    
    .values{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .values li{
        width: 348px;
    }

    .classic{
        padding: 40px 0px;
    }
    
    .classic h2{
        margin-bottom: 24px;
    }
    
    .classic img{
        max-width: 348px;
        margin-top: 24px;
    }
    
    .classic-products{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .joint{
        background-image: url('../images/index-bg-sm.png');
        padding: 40px 0px;
    }

    .double img{
        content: url('../images/home-section4-1-sm.png');
    }

    .youth img{
        content: url('../images/home-section4-2-sm.png');
    }
        
    .joint img{
        max-width: 348px;
        margin-top: 24px;
    }

    .joint-products{
        flex-direction: column;
        align-items: center;
    }

    .recommend{
        padding: 40px 0px;
    }
    
    .recommend h2{
        margin-bottom: 8px;
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cards img{
        max-width: 348px;
        margin-top: 16px;
    }
    
    .cards-content{
        max-width: 348px;;
    }
    
}